<body>


  <div class="bluebox">
    PrintBlueCards.com
  </div>

<br>

<div class="row">
  <div class="imagecenter">

    <%= image_tag("banner1.jpg", :alt => "Image Error") %>

  </div>
</div>
<br>

<div class="row">
  <div class="large-4 columns">
    <div class="panel">

      <h4><b> Create Custom Blue-Cards! </b></h4>

      <br>
      Fill out the entire Blue-Card online!

      <br>
      <br>

      Print them yourself or have us do it for you!

      <br>
      <br>
      <%= link_to "Click to start Creating!", "bluecards/new",  class: "button" %>
    </div>
  </div>

  <div class="large-4 columns">
    <%= image_tag("campfire2.gif", :alt => "Image Error") %>
  </div>



  <div class="large-4 columns">
    <div class="panel">

      <h4><b> Order Blank Blue-Card Paper! </b></h4>

      <br>
      Fill out the entire Blue-Card online!

      <br>
      <br>

      Print them yourself or have us do it for you!

      <br>
      <br>

      <a href="#" class="button">Click to Place an Order!</a>
    </div>
  </div>

</div>

<div class="row">
  <div class="footer">
    Footer
  </div>
</div>

</body>
