// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Removes Browser Presets

html, body {
 margin: 0px;
 padding: 0px;
 border: 0px;
 }

 h1, h2, h3, h4, h5, h6 {
 margin: 0;
 padding: 0;
 font-weight: normal;
 font-family: Arial, Helvetica, sans-serif;
 }

// General Css

body {

  .bluebox h1 {

    background-color: #0052A3 ;
    color: #fff ;
    font-family: 'Open Sans', sans-serif;

  }

  .adbox {

    background-color: #CCCCCC ;
    border: solid #B8B8B8;
    font-family: 'Open Sans', sans-serif;
    width: 20%;
    height: 5%;

  }

}
